/* ==========================================================================
	 Author's custom styles
	 ========================================================================== */

body {
	padding-top: 70px;
	padding-bottom: 40px;
}

.navbar-brand {
	max-width: none;
	color: white;
}
.navbar-brand:hover {
	color: white;
}
.navbar-nav > li > a {
	color: white
}
.navbar-nav > li > a:hover {
	background-color: rgba(0,0,0,0.25);
	color: white;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background-color: rgba(255,255,255,0.15);
}



@media (max-width: 767px) {
	.dropdown-menu > li > a {
		color: white;
	}
	.dropdown-header {
		color: #ccc;
	}
}


.navbar-toggle {
	border: 0px;
}
.navbar-toggle:hover {
	background-color: rgba(0,0,0,0.25);
}

.select2-container {
	width: 100%;
	max-width: 600px;
}
.select2-chosen {
	font-size: 16px;
}
.select2-search-choice-close {
	top: 6px !important;
}

.caret {
	color: white !important;
	border-top-color: white !important;
	border-bottom-color: white !important;
}

.jumbotron {
	padding: 30px 60px;
}



#naics-nav {
	background-color: #195ea3;
	color: white;
}

#naics-search {

}

h1 {
	margin-bottom: 30px;
}

small {
	color: #777;
}

#naics-select {
}

#naics-add {
	margin-top: 10px;
}

#naics-table {
	border-bottom: 1px solid #ddd;
}

#naics-table span {
	line-height: 25px;
	height: 25px;
}

#naics-table small {
	margin-left: 12px;
}

#naics-table .glyphicon {
	cursor: pointer;
	margin-right: 5px;
}

#yes-table, #no-table {
	width: 80%;
	margin: 0 auto;
}

.note {
	color: #999;
}

#loading-msg {
	font-size: 15px;
	color: #999;
}
