/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#naics-search {

}

.hero-unit {
  padding: 30px 60px;
}

small {
  color: #777;
}

#naics-select {
}

#naics-add {
  margin-top: 10px;
}

#naics-table span {
  line-height: 25px;
  height: 25px;
}

#naics-table small {
  margin-left: 12px;
}

#naics-table i {
  cursor: pointer;
  margin-right: 10px;
}

#yes-table, #no-table {
  width: 80%;
  margin: 0 auto;
}

.note {
  color: #999;
}